@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@fontsource/poppins');
@layer base {
    body {
        @apply font-[Poppins];
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100vw;
        background: #fff;
        overflow-x: hidden;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}